.slideshow-container {
  position: relative;
}

.mySlides {
  display: none;
}

.banner {
  width: 100%;
  height: 100%;
  min-height: 550px;
  background-image: url(../img/hero-img.webp);
  background-size: cover;
  background-position: center;
}

.banner2 {
  width: 100%;
  height: 100%;
  min-height: 550px;
  background-image: url(../img/banner2.jpg);
  background-size: cover;
  background-position: center;
}

.banner3 {
  width: 100%;
  height: 100%;
  min-height: 550px;
  background-image: url(../img/banner3.jpg);
  background-size: cover;
  background-position: center;
}

.layer {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 550px;
  position: absolute;
}

.banner-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px 20px 0 0;
}

.banner-up #banner-name {
  margin-right: 10px;
  color: #fff;
  border-bottom: 2px solid #00B34A;
  font-size: 24px;
}

.banner-up .banner-search {
  background-image: url("/img/search.svg");
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: 20px;
  /* Extra Styling */
  padding: 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: none;
  border-radius: 14px;
}

.banner-up input:focus {
  background-image: none;
  text-indent: 0px;
}

.banner-main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  margin: 100px 0;
}

.banner-main .numbers {
  margin-bottom: 50px;
}

.banner-main .numbers .num {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 10px;
  color: #fff;
  font-weight: 900;
}

.banner-main .numbers .num img {
  height: 20px;
  -webkit-filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
          filter: invert(48%) sepia(79%) saturate(2476%) hue-rotate(86deg) brightness(118%) contrast(119%);
}

.banner-main .numbers hr {
  background-color: #fff;
  display: block;
  margin-left: 8px;
  width: 20px;
  height: 2px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  border: none;
}

.banner-main .bunner-text h1 {
  font-size: 50px;
  color: #fff;
}

header {
  width: auto;
  -webkit-box-shadow: rgba(0, 0, 0, 0.22) 0px 14px 12px;
          box-shadow: rgba(0, 0, 0, 0.22) 0px 14px 12px;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
}

.header .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .logo .logo-img {
  width: 200px;
}

.header .logo .logo-img img {
  width: 100%;
  height: 100%;
}

.header .settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header .settings div {
  margin: 0 10px 0 10px;
}

.cake {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0 25px;
}

.cake .cake_item {
  padding: 20px;
  border-radius: 14px;
  min-width: 120px;
  min-height: 100px;
  margin-top: 40px;
  color: #666666;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 14px 30px, rgba(0, 0, 0, 0.22) 0px 8px 18px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 14px 30px, rgba(0, 0, 0, 0.22) 0px 8px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cake .cake_item .cake_caption {
  display: block;
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

.cake .cake_item .cake_caption .invisible {
  color: #fff;
}

.cake .cake_item:hover {
  background-color: #00B43E;
  color: #fff;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.cake .cake_item:hover img {
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}

#hidden {
  display: none;
}

.diagnostic {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 15px;
  margin: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: rgba rgba(51, 51, 51, 0.9);
}

.diagnostic .cakeItem {
  width: 180px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.diagnostic img {
  width: 180px;
  border-radius: 14px;
}

.diagnostic .itemCaption {
  position: absolute;
  color: #000;
  padding-left: 20px;
  padding-top: 40px;
}

.diagcard {
  display: none;
}

.diagcardShow {
  display: block;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  width: 100%;
  min-height: 100px;
  min-width: 120px;
  margin: 10px;
  border: 4px solid transparent;
  border-radius: 42px;
}

.diagcardShow img {
  width: 100%;
  height: 100%;
}

.diagcardShow .card_layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 38px;
  background: rgba(0, 0, 0, 0.5);
}

.diagcardShow .serv_description {
  position: absolute;
  top: 45%;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 0 5px;
}

.diagcardShow:hover {
  display: block;
  border: 4px solid #00B34A;
  border-radius: 46px;
}

.diag__name_hidden {
  display: none;
}

.diag__name {
  display: block;
  width: 100%;
  height: 20%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 2px;
  border-bottom: 4px solid #00B34A;
}

.nerse__card {
  display: none;
}

.nerse__cardShow {
  display: block;
  height: auto;
}

.nerses_h {
  text-align: center;
  padding: 10px 0;
  border-bottom: 4px solid #00A54F;
  margin: 50px 0;
}

.cons_none {
  display: none;
}

.cons_wrapper {
  display: block;
  text-transform: uppercase;
}

.cons_wrapper h2 {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border-bottom: 4px solid #00B34A;
}

.cons_wrapper .consulting {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.cons_wrapper .consulting p {
  font-size: 24px;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 14px 30px, rgba(0, 0, 0, 0.22) 0px 8px 18px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 14px 30px, rgba(0, 0, 0, 0.22) 0px 8px 18px;
}

.cons_wrapper .consulting p:hover {
  background-color: #00B34A;
  -webkit-transition: .2s;
  transition: .2s;
  color: #fff;
}

.offer_none {
  display: none;
}

.spec_offers {
  display: block;
  text-transform: uppercase;
  margin-top: 20px;
}

.spec_offers h2 {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 4px solid #00B34A;
}

.spec_offers .offer_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.spec_offers .offer_wrapper .offer_item {
  padding: 50px;
  font-size: 24px;
  margin: 10px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 14px 30px, rgba(0, 0, 0, 0.22) 0px 8px 18px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 14px 30px, rgba(0, 0, 0, 0.22) 0px 8px 18px;
}

.spec_offers .offer_wrapper .offer_item:hover {
  background-color: #00B34A;
  color: #fff;
  -webkit-transition: .2s;
  transition: .2s;
}

.part_none {
  display: none;
}

.partners {
  display: block;
  text-transform: uppercase;
  margin-top: 20px;
}

.partners h2 {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 4px solid #00B34A;
}

.partners .part_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.partners .part_wrapper .part_item {
  padding: 50px;
  font-size: 24px;
  margin: 10px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 14px 30px, rgba(0, 0, 0, 0.22) 0px 8px 18px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 14px 30px, rgba(0, 0, 0, 0.22) 0px 8px 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.partners .part_wrapper .part_item img {
  width: 100%;
}

.partners .part_wrapper .part_item:hover {
  background-color: #00B34A;
  -webkit-transition: .2s;
  transition: .2s;
}

.cont_none {
  display: none;
}

.contacts {
  display: block;
  text-transform: uppercase;
  margin-top: 20px;
}

.contacts h2 {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
  border-bottom: 4px solid #00B34A;
}

.contacts .cont_wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

.contacts .cont_wrapper .cont_item {
  padding: 50px;
  font-size: 24px;
  margin: 10px;
  border-radius: 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 0px 14px 30px, rgba(0, 0, 0, 0.22) 0px 8px 18px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 14px 30px, rgba(0, 0, 0, 0.22) 0px 8px 18px;
}

.contacts .cont_wrapper .cont_item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  color: #000;
}

.contacts .cont_wrapper .cont_item a img {
  width: 40px;
  padding-right: 10px;
}

.contacts .cont_wrapper .cont_item:hover {
  background-color: #00B34A;
  -webkit-transition: .2s;
  transition: .2s;
  color: #fff;
}

@media only screen and (min-width: 320px) {
  .numbers {
    display: none;
  }
  #banner-name {
    display: none;
  }
  .bunner-text .caption {
    margin-left: 10px;
  }
  .contacts .cont_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .partners .part_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .spec_offers .offer_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .spec_offers .offer_wrapper .offer_item {
    padding: 30px;
  }
}

@media only screen and (min-width: 375px) {
  .numbers {
    display: none;
  }
  #banner-name {
    display: none;
  }
  .bunner-text .caption {
    margin-left: 10px;
  }
  .contacts .cont_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .partners .part_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .spec_offers .offer_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 425px) {
  .contacts .cont_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .partners .part_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .numbers {
    display: none;
  }
  .bunner-text .caption {
    margin-left: 20px;
  }
  .spec_offers .offer_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .cake {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
    margin: 0 20px;
  }
  .footer .footer-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .cons_wrapper .consulting {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .partners .part_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .numbers {
    display: block;
  }
  #banner-name {
    display: block;
  }
  .spec_offers .offer_wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 1024px) {
  .cake {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 20px;
  }
  .numbers {
    display: block;
  }
  #banner-name {
    display: block;
  }
}

footer {
  display: block;
  background-color: #656565;
  margin-top: 20px;
  background-image: url(../img/footer-img.png);
  background-size: cover;
  width: 100%;
  margin-top: 50px;
}

footer a {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  padding-bottom: 10px;
}

footer h4 {
  color: #fff;
  padding-bottom: 10px;
}

footer p {
  color: #fff;
  font-weight: 600;
  display: inline-block;
  padding-bottom: 10px;
}

.footer-content {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 20px;
}

.footer-content .adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer-content .social_network a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-self: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
}

.footer-content .social_network a img {
  width: 40px;
  height: 30px;
  padding-right: 10px;
}

*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  overflow-x: hidden;
  font-family: 'Gotham Pro', sans-serif;
}

a {
  text-decoration: none;
  color: black;
  padding: 0;
  margin: 0;
}

li {
  padding: 0;
  margin: 0;
}

button {
  outline: none;
}

.container {
  margin: auto;
  width: 100%;
  max-width: 1024px;
}
/*# sourceMappingURL=style.css.map */