footer{
    display: block;
    background-color: rgb(101, 101, 101);
    margin-top: 20px;
    background-image: url(../img/footer-img.png);
    background-size: cover;
    width: 100%;
    margin-top: 50px;
    a{
        color: #fff;
        font-weight: 600;
        display: inline-block;
        padding-bottom: 10px;
    }
    h4{
        color: #fff;
        padding-bottom: 10px;
    }
    p{
        color: #fff;
        font-weight: 600;
        display: inline-block;
        padding-bottom: 10px;
    }
}

.footer-content{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    .adress{
        display: flex;
        flex-direction: column;
    }
    .social_network{
        a{
            display: flex;
            justify-self: center;
            align-items: center;
            img{
                width: 50px;
                height: 28px;
                padding-right: 10px;
            }
        }

    }
}
