header{
    width: auto;
    box-shadow:  rgba(0, 0, 0, 0.22) 0px 14px 12px;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    .logo{
        display: flex;
        justify-content: center;
        .logo-img{
            width: 140px;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
    .settings{
        display: flex;
        justify-content: space-between;
        align-items: center;
        div{
            margin: 0 10px 0 10px ;
        }
    }
}



