@media only screen and (min-width: 375px) {
    .numbers{
        display: none;
    }
    #banner-name{
        display: none;
    }

    .bunner-text{
        .caption{
            margin-left: 10px;
        }
    }
    
}
@media only screen and (min-width: 425px) {
    .contacts{
        .cont_wrapper{
            display: grid;
            grid-template-columns: 1fr;
        }
    }
    .partners{
        .part_wrapper{
            display: grid;
            grid-template-columns: 1fr 1fr;
        } 
    }
    .numbers{
        display: none;
    }
    .bunner-text{
        .caption{
            margin-left: 20px;
        }
    }
}

@media only screen and (min-width: 768px) {
    .cake{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        gap: 20px;
        margin: 0 20px;
    }
    .footer{
        .footer-content{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            justify-content: center;
        }
    }
    .cons_wrapper{
        .consulting{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    .numbers{
        display: block;
    }
    #banner-name{
        display: block;
    }

}



@media only screen and (min-width: 1024px) {
    .cake {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 20px;
    }

    .numbers{
        display: block;
    }
    #banner-name{
        display: block;
    }
}
