
@media only screen and (min-width: 768px) {
    .cake{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
        gap: 20px;
    }
}
@media only screen and (min-width: 1024px) {
    .cake{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        align-items: center;
        gap: 20px;
    }
  }