$time: 500ms;
$delay: $time/2;
$mode: cubic-bezier(0.17, 0.67, 0.55, 1.43);

.nerse__card{
    display: none;
}
.nerse__cardShow{
    display: block;
}

.nerses_h {
    text-align: center;
    padding: 10px 0;
    border-bottom: 4px solid #00A54F;
}
.slider-container {
    position: relative;
    margin: 0 auto;
    width: 90%;
    height: 700px;
}

.slider-content {
    position: relative;
    left: 60%;
    top: 40%;
    width: 70%;
    height: 70%;
    transform: translate(-50%, -50%);

    .slider-single {
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: z-index 0ms $delay;

        .slider-single-image {
            position: relative;
            left: 0;
            top: 0;
            width: 70%;
            height: 500px;
            box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
            transition: $time $mode;
            transform: scale(0);
            opacity: 0;
            border-radius: 14px;
        }

        .slider-single-download {
            position: absolute;
            display: block;
            right: -22px;
            bottom: 12px;
            padding: 15px;
            color: #333333;
            background-color: #fdc84b;
            font-size: 18px;
            font-weight: 600;
            font-family: "karla";
            border-radius: 5px;
            box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
            transition: $time $mode;
            opacity: 0;

            &:hover,
            &:focus {
                outline: none;
                text-decoration: none;
            }
        }

        .slider-single-likes {
            display: flex;
            justify-content: start;
            align-items: center;
            transition: $time $mode;
            opacity: 0;
            background-color: #00A54F;
            width: 70%;
            img {
                width: 100px;
                height: 100px;

            }

            p {
                display: inline-block;
                vertical-align: middle;
                margin: 0;
                color: #ffffff;
                padding-bottom: 5px;
            }
            p:first-of-type{
                font-weight: 900;
            }

            &:hover,
            &:focus {
                outline: none;
                text-decoration: none;
            }
        }

        &.preactivede {

            //z-index: 0;
            .slider-single-image {
                //opacity: 0;
                transform: translateX(-50%) scale(0);
            }
        }

        &.preactive {
            z-index: 1;

            .slider-single-image {
                opacity: 0.9;
                margin-top: 5em;
                margin-left: -5em;
                transform: translateX(-75%) scale(0.4);
            }

            .slider-single-download {
                transform: translateX(-150px);
            }

            .slider-single-title {
                transform: translateX(-150px);
            }

            .slider-single-likes {
                transform: translateX(-150px);
            }
        }

        &.proactive {
            z-index: 1;

            .slider-single-image {
                opacity: 0.9;
                margin-top: 5em;
                margin-left: 5em;
                transform: translateX(75%) scale(0.4);
            }

            .slider-single-download {
                transform: translateX(150px);
            }

            .slider-single-title {
                transform: translateX(150px);
            }

            .slider-single-likes {
                transform: translateX(150px);
            }
        }

        &.proactivede {

            //z-index: 0;
            .slider-single-image {
                //opacity: 0;
                transform: translateX(50%) scale(0);
            }
        }

        &.active {
            z-index: 2;

            .slider-single-image {
                opacity: 1;
                transform: translateX(0%) scale(1);
            }

            .slider-single-download {
                opacity: 1;
                transition-delay: 100ms;
                transform: translateX(0px);
            }

            .slider-single-title {
                opacity: 1;
                transition-delay: 200ms;
                transform: translateX(0px);
            }

            .slider-single-likes {
                opacity: 1;
                transition-delay: 300ms;
                transform: translateX(0px);
            }
        }
    }
}

.slider-left {
    position: absolute;
    z-index: 3;
    display: block;
    right: 71%;
    top: 60%;
    transform: translateY(-50%);
    padding: 50px;
    img{
        width: 40px;
    }

}

.slider-right {
    position: absolute;
    z-index: 3;
    display: block;
    left: 70%;
    top: 60%;
    transform: translateY(-50%);
    padding: 50px;
    img{
        width: 40px;
    }
}


.not-visible {
    display: none !important;
}
