@import "banner";
@import "header";
@import "cake";
@import "cake-content";
@import "diagnosticCards";
@import "nerseCard";
@import "nerses";
@import "consult";
@import "offers";
@import "partners";
@import "contacts";

@import "media";
@import "footer";

$green: #00B34A;

*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
a{
    text-decoration: none;
}
button{
    outline: none;
}
.container{
    margin: auto;
    width: 100%;
    max-width: 1024px;
}
